<!-- <p>header works!</p> -->
<nav class="navbar sticky-top navbar-dark bg-dark h-15">
    <div class="container container-fluid">
        <a class="navbar-brand mx-auto" href="#">Employee Management System</a>
        <div class="example-button-container">
            <button mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon (click)=" home()">home</mat-icon>
              
            </button>
            <button mat-fab color="accent" aria-label="Example icon button with a home icon">
                <mat-icon  (click)=" About()" >person</mat-icon>
                <!-- <mat-icon> call</mat-icon> -->
            </button>
            <button mat-fab color="primary" aria-label="Example icon button with a home icon">

                <mat-icon> call</mat-icon>
            </button>

          </div>

          
        </div>
    <!-- </div> -->
</nav>
